
<div class="container-fluid">

<div class="crawl">
    <div class="wrapper">
      <h1 class="pre-text">RULES</h1>
      <h2 class="pre-text">BY OUR TEAAAAM</h2>
      <p>A returned card will not be visible again. If all cards are returned the player will be declared loser. If a player abandons he will be declared loser.</p>
      <p>Given the name of the card to found makes you win the victory. A question will only answer yes or no. The game can only be played by two players.</p>
    </div>
  </div>

</div>