<div class="container-fluid">

  <div class="row block">
    <div class='col-9 box1'>
      
     
<div class="table">
 
  <div class="deck" *ngFor="let item of img; let i = index">
    <input type="checkbox" checked="checked" [disabled]="item.disabled" (change)="isLoose(i);"><u><img alt="" [src]="item.urlImg"><a>{{item.name}}</a></u><b></b>
</div>
 
  <!-- <div class="deck">

    <input type="checkbox" checked><u><img alt="" src="http://lorempixel.com/200/200/abstract"><b>Click<br>to<br>Flip</b></u><b></b>

    <br><input type="checkbox" [checked]="checked" (click)="checked = 'checked'"><u><img src="http://nsm09.casimages.com/img/2018/04/11//18041106355923832215662943.jpg" alt="0" ><a>yoda</a></u><b></b>
    <input type="checkbox" checked="checked" [disabled]="sizes[0].disabled" (change)="disableCard($event, 0)"><u><img alt="" [src]="sizes[0].src"><a>palpatine</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355423832215662933.jpg"><a>stormtrooper</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355423832215662930.jpg"><a>darth vader</a> </u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355423832215662931.png"><a>hux</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355423832215662932.jpg"><a>grievous</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355323832215662929.jpg"><a>darth maul</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355323832215662928.jpg"><a>dooku</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355323832215662927.jpg"><a>chewbacca</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355223832215662926.jpg"><a>rey</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355223832215662923.jpg"><a>BB8</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355223832215662924.jpg"><a>boba fett</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355723832215662941.jpg"><a>snoke</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355223832215662925.jpg"><a>C3PO</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355123832215662922.jpg"><a>mance windu</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355123832215662921.jpg"><a>han solo</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355123832215662920.jpg"><a>qui-gon jinn</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355723832215662940.png"><a>finn</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355523832215662936.jpg"><a>luc</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355623832215662937.jpg"><a>poe</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355623832215662938.jpg"><a>padmé</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355623832215662939.png"><a>R2D2</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355523832215662935.png"><a>leia</a></u><b>
    </b><input type="checkbox" checked="checked"><u><img alt="" src="http://nsm09.casimages.com/img/2018/04/11//18041106355523832215662934.png"><a>kylo ren</a></u><b>
    </b>
  </div> -->
</div>
  </div>
    <div class="col-3">
        <div *ngIf="myPlayerId === undefined || !room.players[myPlayerId].url; else bob" class="randomcard">
          <img class="anonyme" src="http://nsm09.casimages.com/img/2018/04/12//18041210180823832215663875.jpg" alt="cards" (click)="randomCard()">
        </div>
    <ng-template #bob>
      <!-- <div class="test" [innerHTML]="htmlStr"> -->
      <div class="test" >
      <img [src]="room.players[myPlayerId].url" alt = "imgToFind" class="test"><h3>{{room.players[myPlayerId].img}}</h3>
      </div>
    </ng-template>
        <form>
            <div class="row textus">
              <div class="col-12">
                <div id='messagesDiv' class="msg-wrapper"></div>
                <hr />
               </div>
            </div> 
            <div class="row">
              <div class="col-12">
                <label>
                  <ul>
                    <li>
                  <textarea id='messageInput' placeholder='Message'></textarea></li>
                  <li><input type="button" value="send"></li>
                </ul>
                </label>
              </div>
            </div>
          </form>
    </div>
  </div>
  <div class="row box2">
    <div class="col-9">
        <div class="container-fluid flexus">
          <div class="elementA">
      <button type="button" class="btn buttonMenu" (click)="rageQuit()">flee the fight</button>
          </div>
    <div class="elementB">
      <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
      </div>
      <!-- User NOT logged in -->
      <ng-template #guest>
        <app-home></app-home>
      </ng-template>
      <!-- User logged in -->
      <ng-template #authenticated>
        <div *ngIf="auth.user | async as user">
        </div>
  <div *ngIf="room && room.players.length > 1">
    game ready
    <!-- <div *ngIf="card ; else nocard">
      <img src="https://www.papiria.de/WebRoot/Store4/Shops/62463763/51C7/0E28/8CAA/D737/23CA/C0A8/28BB/FAE3/LB1340a_xs.jpg" alt="cards"
        (click)="randomCard()">
    </div>
    <ng-template #nocard>
      <div [innerHTML]="htmlStr"></div>
    </ng-template> -->
    <div *ngIf="isMyTurn(); else elseBlock">
    </div>
    <ng-template #elseBlock>
    Opponent turn<br> 
      {{lastResponse()}}
      <!-- <img src="{{this.img[1].urlImg}}" alt="cards"
        > -->
    </ng-template>
    <div *ngIf="isMyTurn() ;else question">
      myTurn
      <div *ngIf="isMyTurnToAnswer(); else answer">
        {{lastQuestion()}}
        <br>
        <button (click)="sendAnswer(true)">Oui</button>
        <button (click)="sendAnswer(false)">Non</button>
      </div>
      <ng-template #answer>

        <input #box (keyup.enter)="onEnter(box.value)">
      </ng-template>
    </div>
    <ng-template #question>
      <p>{{value}}</p>
    </ng-template>
  </div>
  <p>
    {{message}}
  </p>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
    </div>
    </div>
  <div *ngIf="popup" id="exampleModalLive" class="modal fade show mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
    style="padding-right: 10px; display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">AND THE WINNER IS ...</h4>
          <button type="button" class="close" aria-label="Close" (click)="mainMenu()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="this.room.players[0].win === true">
            {{this.room.players[1].name}}!
          </div>
          <div *ngIf="this.room.players[1].win === true">
            {{this.room.players[0].name}} !
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="mainMenu()">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
