<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand">
        <ul class="navbar-nav offset-5">
          <li class="nav-item active col-4">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item active col-4">
            <a class="nav-link" routerLink="rules">Rules</a>
          </li>
          <li class="nav-item active col-4">
            <div (click)="auth.googleLogin()">
              <div class="Custom-Btn customGPlusSignIn">
                <span class="icon"></span>
                <span class="Buttontext">Sign up</span>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand">
          <ul class="navbar-nav col-12">
            <li class="nav-item active col-3 offset-2">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item col-3">
              <a class="nav-link" routerLink="rules">Rules</a>
            </li>
            <li class="nav-item col-5">
              <span>
                <img [src]="user.photoURL" width="40px" height="40px"> {{ user.displayName }}
              </span>
            </li>
            <li class="nav-item col-3">
              <div (click)="auth.signOut()">
                <div class="Custom-Btn customGPlusSignIn">
                  <span class="icon"></span>
                  <span class="Buttontext">Sign out</span>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</ng-template>



<router-outlet></router-outlet>