<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-6">
          <a><img src="https://blog.flamingtext.com/blog/2018/04/10/flamingtext_com_1523367479_305821428.png" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>
      </div>
      <div class="col-6">
      
        <div class="container-fluid navus">
        
          <div class="element1">
            <a class="nav-link link" routerLink="home">Home</a>
          </div>
          <div class="element1">
            <a class="nav-link link" routerLink="rules">Rules</a>
          </div>
          <div class="element1">
            <div (click)="auth.googleLogin()">
              <div class="Custom-Btn customGPlusSignIn">
                <span class="icon"></span>
                <span class="Buttontext">Sign up</span>
              </div>
            </div>
          </div>
        </div>
     
    </div>
  
  </div>
</div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
            <a target="_top" href="http://www.flamingtext.com/" ><img src="https://blog.flamingtext.com/blog/2018/04/10/flamingtext_com_1523367479_305821428.png"  alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>
        </div>

        <div class="col-6">

          <div class="container-fluid navus">
          
            <div class="element1">
              <a class="nav-link" routerLink="home">Home</a>
            </div>
            <div class="element1">
              <a class="nav-link" routerLink="rules">Rules</a>
            </div>
            <div class="element1">
              <span class="username">
                <img class="imgGoogle" src="{{user.photoURL}}" alt="img user"> {{ user.displayName }}
              </span>
            </div>
            <div class="element1">
              <div (click)="auth.signOut()">
                <div class="Custom-Btn customGPlusSignIn">
                  <span class="icon"></span>
                  <span class="Buttontext">Sign out</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<footer>

<p class="team">MADE WITH <span class="heart">❤</span> BY OUR TEAM</p>

</footer>

<router-outlet></router-outlet>