<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- Guest / user log -->
</div>


<!-- user NOT log -->
<ng-template #guest>
  <div class="container pointer">
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Hey, GUEST<br/>login to get started...</h3>

        <ngb-carousel interval="500 000 000" class="carousel">
          <ng-template ngbSlide>
            <img src="http://nsm09.casimages.com/img/2018/04/10//18041004004523832215661187.jpg" alt="Random first slide">
            <div class="carousel-caption">
             
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="http://nsm09.casimages.com/img/2018/04/12//18041202300623832215664077.jpg" alt="Random second slide">
            <div class="carousel-caption">
              <h3>second theme</h3>
              <p>univers blabla</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="https://picsum.photos/900/500?image=52" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Third theme</h3>
              <p>blablabla</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

  

</ng-template>


<!-- user log  -->
<ng-template #authenticated>
  <div class="container pointer">
    <div class="row">
      <div class="col-8 offset-2">
        <div *ngIf="auth.user | async as user">
          <h3>Hello, <span>{{ user.displayName }}</span> wanna play a awesome game?</h3>
          <ngb-carousel interval="500 000 000" class="carousel">
            <ng-template ngbSlide>
              <img src="http://nsm09.casimages.com/img/2018/04/10//18041004004523832215661187.jpg" (click)="createGame()" alt="Random first slide">
              <div class="carousel-caption">
                
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="https://picsum.photos/900/500?image=52"  (click)="createGamegot()" alt="Random second slide">
              <div class="carousel-caption">
                <h3>second theme</h3>
                <p>univers blabla</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="https://picsum.photos/900/500?image=52" alt="Random third slide">
              <div class="carousel-caption">
                <h3>Third theme</h3>
                <p>blablabla</p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <button type="button" class="btn" (click)="createGame()">Play</button>
      </div>
    </div>
  </div>

</ng-template>